<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jawbone Up example webapp</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
</head>
<body>

<header th:include="header" />

<section id="main">
    <div>This is a simple webapp made with <a href="http://projects.spring.io/spring-boot/">Spring Boot</a> to
        demonstrate
        the use of the <a href="https://jawbone.com/up/developer">Jawbone Up API</a>.
    </div>
</section>

<footer th:include="footer" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>